[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
gunicorn = "*"
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-apispec = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-tinify = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
diff-match-patch = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
