[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
gunicorn = "*"
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-restx = "*"
flask-restx-patched = "==0.1.15"
flask-cors = "*"
flask-jwt-extended = "*"
flask-tinify = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
apispec = "*"
webargs = "*"
diff-match-patch = "*"

[requires]
python_version = "3.8"
